body{
  background-image: url(./images/istockphoto-1081422898-1024x1024.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  
  }
   header{
    
     height:100px;
     /*background-color: red;*/
     /*padding-right:100px;*/
     text-align:center;
     padding-top: 10px;
     padding-bottom: 10px;
   }
   
   img{
     height: 80px;
   }
   
   nav{
     /*width: 250px;*/
     /*height: 80px;*/
     background-color: black;
    /* padding-right: 100px;*/
     text-align:center;
     /*padding-left:100px;*/
     padding-top:20px;
     padding-bottom:20px;
     /*margin-left: auto;
     margin-right: auto;*/
     
   }
   
   main{
     /*width: 250px;*/
     /*height: 400px;*/
     background-color:rgba(136, 89, 7, 0.5);
    /* padding-right:100px;*/
     /*margin-left: auto;
     margin-right: auto;*/
     text-align: center;
     padding-top:40px;
     padding-bottom:40px;
     font-family: Arial, Helvetica, sans-serif;
     backdrop-filter: blur(10px);
     /*filter:blur(10px);*/
    
   }
   h1{
     font-size:80px;
     color:red;
   }
   p{
     font-size:18px;
     margin-right:23px;
     margin-left:23px;
     color: whitesmoke;
     /*background-color: rgb(red, green, blue);*/
   }
   
   footer{
     /*width: 250px;*/
     height:80px;
     background-color: black;
    /* padding-right: 100px;*/
     /*margin-left:5px;
     margin-right:5px;*/
     text-align: center ;
     padding-top:30px;
     padding-bottom:30px;
   }
   a{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    
   }
   main a{
     text-decoration:underline;
     color: gold;
   }
   footer p{
     color:gold;
   }
   main iframe{
     padding-left:100px;
     margin-right: 95px;
     padding-top: 45px;
     
   }